aiogram==3.4.1
aiohttp==3.9.5
aiofiles==23.2.1
supabase==1.0.3
httpx==0.21.3
APScheduler==3.10.4
SQLAlchemy==2.0.30
supafunc==0.2.0
pydantic==2.5.3
yarl==1.9.4
attrs==23.2.0
certifi>=2023.7.22
magic-filter>=1.0.12
typing-extensions>=4.0
greenlet==3.0.3
six>=1.16.0
pytz
tzlocal>=2.0
